Carichiamo i dati e iniziamo a fare qualche carotaggio per verificare quali informazioni sono presenti

In [3]:
import pandas as pd
import glob
from datetime import datetime

In [4]:
dateparse = lambda x: datetime.strptime(x, '%d/%m/%Y')

In [5]:
datafiles = glob.glob('Rapporti_di_lavoro_*.csv')
# , parse_dates=['DATA'], date_parser=dateparse

In [17]:
files = []
for file in datafiles:
    df_tmp = pd.read_csv(file)
    df_tmp['TIPOLOGIA'] = file[19:-4]
    df_tmp['DATA_EVENTO'] = pd.to_datetime(df_tmp['DATA'], format='%d/%m/%Y', errors='coerce')
    #mask = df_tmp['DATA_EVENTO'].isnull()
    files.append(df_tmp)

frame = pd.concat(files, axis=0, ignore_index=True)

In [18]:
# TODO: la lettura della data col date parser è da rivedere, ci sono probabilmente delle date che non sono scritte nel formato del paser
frame

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPOLOGIA,DATA_EVENTO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,cessati,2019-04-02
1,08/06/2018,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,cessati,2018-06-08
2,02/02/2016,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA,cessati,2016-02-02
3,12/01/2015,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,cessati,2015-01-12
4,09/08/2017,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,cessati,2017-08-09
...,...,...,...,...,...,...,...,...,...,...,...
18710142,09/08/2017,M,22,Commercio al dettaglio di carburante per autot...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BRESCIA,PAKISTAN,trasformati,2017-08-09
18710143,01/10/2019,F,42,Produzione di software non connesso all'edizione,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,TIROCINIO,TEMPO PIENO,MONZA E BRIANZA,ITALIA,trasformati,2019-10-01
18710144,02/06/2012,M,40,Lavori di meccanica generale,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MONZA E BRIANZA,ITALIA,trasformati,2012-06-02
18710145,02/05/2021,M,21,Fabbricazione di altre pompe e compressori,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MONZA E BRIANZA,PAKISTAN,trasformati,2021-05-02
18710146,12/10/2014,F,43,Istruzione primaria: scuole elementari,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MONZA E BRIANZA,ITALIA,trasformati,2014-10-12

In [ ]:
frame['ANNO'] = pd.DatetimeIndex(frame['DATA_EVENTO']).year
frame['MESE'] = pd.DatetimeIndex(frame['DATA_EVENTO']).month

In [ ]:
frame.groupby(['ANNO']).size()

In [ ]:
frame.groupby(['MESE']).size()

In [31]:
frame_clean_date = frame.query('ANNO >= 2012 & ANNO <= 2021')

In [35]:
frame_clean_date.groupby(['SETTOREECONOMICODETTAGLIO']).size()

SETTOREECONOMICODETTAGLIO
Acquacoltura in acqua di mare, salmastra o lagunare e servizi connessi                                1574
Acquacoltura in acque dolci e servizi connessi                                                         711
Affari esteri                                                                                         1238
Affittacamere per brevi soggiorni, case ed appartamenti per vacanze, bed and breakfast, residence    12872
Affitto di aziende                                                                                     649
                                                                                                     ...
Trattamento igienico del latte                                                                        1806
Trivellazioni e perforazioni                                                                          3476
Università popolare                                                                                     86
Utilizzo di aree forestali                                                                            2042
Villaggi turistici                                                                                     952
Length: 1222, dtype: int64

In [36]:
ateco = pd.read_excel('CodiceAteco.xlsx')
ateco

,Lettera,Codice Ateco 2007,Descrizione
0,A,A,"AGRICOLTURA, SILVICOLTURA E PESCA"
1,A,01,COLTIVAZIONI AGRICOLE E PRODUZIONE DI PRODOTTI...
2,A,01.1,COLTIVAZIONE DI COLTURE AGRICOLE NON PERMANENTI
3,A,01.11,"Coltivazione di cereali (escluso il riso), leg..."
4,A,01.11.1,Coltivazione di cereali (escluso il riso)
...,...,...,...
1885,T,97.00.02,Attività di condomini
1886,T,98,PRODUZIONE DI BENI E SERVIZI INDIFFERENZIATI P...
1887,T,98.1,PRODUZIONE DI BENI INDIFFERENZIATI PER USO PRO...
1888,T,98.2,PRODUZIONE DI SERVIZI INDIFFERENZIATI PER USO ...
1889,U,U,ORGANIZZAZIONI ED ORGANISMI EXTRATERRITORIALI

In [37]:
frame_ateco = frame_clean_date.merge(ateco, left_on='SETTOREECONOMICODETTAGLIO', right_on='Descrizione', how='left', indicator=True)

In [38]:
frame_ateco.groupby(['TIPOLOGIA']).size()

TIPOLOGIA
attivati       7528785
cessati        2905624
prorogati      3153126
trasformati    1714851
dtype: int64

In [39]:
pd.crosstab(frame_ateco.Lettera, frame_ateco.GENERE)

GENERE        F        M
Lettera
A         48020   160808
B           565     3792
C        849863  1902997
D          7140    11699
E          8347    49302
F         37650   520790
G        855166   685554
H        231613   778538
I        717758   865158
J        303099   480337
K         55978    50282
L         17761    11473
M        287733   211368
N        687652   695152
O         76214    64672
P        839197   271315
Q        265269    98271
R        149184   194133
S        226058   137214

In [40]:
frame_ateco.DATA.max()

'12/12/2020'

In [41]:
frame_ateco.DATA.min()

'01/01/2012'

In [42]:
pd.crosstab(frame_ateco.TITOLOSTUDIO, frame_ateco.GENERE, margins=True)

GENERE                                                    F        M       All
TITOLOSTUDIO
DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE  CHE...  1991599  1823973   3815572
DIPLOMA DI SPECIALIZZAZIONE                           43511    34592     78103
DIPLOMA TERZIARIO EXTRA-UNIVERSITARIO                  8133     9030     17163
DIPLOMA UNIVERSITARIO                                 68407    44859    113266
LAUREA - Vecchio o nuovo ordinamento                 934921   569232   1504153
LICENZA ELEMENTARE                                    33902   107629    141531
LICENZA MEDIA                                       1640649  2749542   4390191
MASTER UNIVERSITARIO DI PRIMO LIVELLO                 10397     6962     17359
NESSUN TITOLO DI STUDIO                             1658697  2493637   4152334
TITOLO DI DOTTORE DI RICERCA                          12569    12453     25022
TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCOL...   461802   572093   1033895
TITOLO DI STUDIO POST-LAUREA                           8291     5506     13797
All                                                 6872878  8429508  15302386